@{
    ViewBag.Title = "Movie Details Page";
}
<style>
    .container {
    max-width: 1330px !important;
}
    span{
    display:inline-block;
    width:280px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
</style>

<!-- Collect the nav links, forms, and other content for toggling -->
<div ng-app="app">
    <ng-view></ng-view>
</div>